<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}BDIX FTP | Orange FTP{% endblock %}</title>
    {% stylesheets 'bundles/movieapp/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <!--block navigation-->
    <nav class="navbar navbar-container navbar-inverse ">
        <div class="container-fluid">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ path('movie_app_homepage') }}" class="navbar-brand">Project name</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active dropdown">
                        <a href="{{ path('movies') }}">Movies</a>
                    </li>
                    <li class="dropdown">
                        <a href="{{ path('category') }}">Categories</a>
                    </li>
                    <li class="dropdown">
                        <a href="{{ path('genre') }}">Genre</a>
                    </li>
                    <li class="dropdown">
                        <a href="{{ path('tags') }}">Tags</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">Users</a>
                    </li>
                </ul>
                <div class="navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}" class="btn-danger btn">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </div>

            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <!--nav ends here-->
    {% block body %}
    {% endblock %}
</div>
{% block javascripts %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% javascripts 'bundles/movieapp/js/*' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
