{% extends '::base.html.twig' %}
{% block body -%}
    {#<div class="row">
        <div class="col-sm-12">
            {% image '@MovieAppBundle/Resources/public/images/starwars.jpg' %}
            <img src="{{ asset_url }}" alt="Example" class="img-responsive" />
            {% endimage %}
        </div>
    </div>
#}
    <div class="row">
        <div class="col-md-6">
            <h2><span class="styled">All</span> Categories</h2>
        </div>
        <div class="col-md-6 text-right social">
            <a href="http://www.facebook.com" class="fb" target="_blank"><i class="fa fa-facebook"></i> </a>
            <a href="http://www.facebook.com" class="twitter" target="_blank"><i class="fa fa-twitter"></i> </a>
            <a href="http://www.facebook.com" class="gplus" target="_blank"><i class="fa fa-google-plus-square"></i> </a>
            <a href="http://www.facebook.com" class="you" target="_blank"><i class="fa fa-youtube-square"></i> </a>
        </div>
    </div>


    <div class="row grid-carousel">
    {% for category in categories %}
        <div class="col-sm-3 box">
            <a href="{{ path('movie_app_category', { 'id':category.id }) }}">
                <img src="{{ asset('bundles/movieapp/images/posters/peanuts.jpg') }}" class="img-responsive">
                     <div class="overbox">
                         <h3 class="title overtext">{{ category.name }}</h3>
                     </div>
             </a>
        </div>
        {% endfor %}

    </div>

    <div class="row">
        <div class="col-md-9">
            <h2 class=""><span class="styled">Latest</span> Movies</h2>
            <div class="row">
                <!-- movie blocks... columns are nested, so edit at your own peril! -->
                {% for movie in movies %}
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 block">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="{{ path('movie_app_movie', { 'id':movie.id }) }}">
                                        <div class="img-thumbnail thumb-holder">
                                            <img src="{{ asset('/images/movies/') }}{{ movie.imageName|default('300x300.png')}}" class="img-responsive">
                                        </div>
                                     </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="{{ path('movie_app_movie', { 'id':movie.id }) }}">
                                        {{ movie.name }}</a><br/>
                                    Release (RIP): {{ movie.fileFormat }}<br/>
                                    Uploaded At: {{ movie.createdAt|date("d F, Y") }}

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% endfor %}
                <!-- each movie blovk ends here -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <img src="http://placehold.it/300x600" class="img-responsive">
                </div>
            </div>
            <div class="row m-t-md">
                <div class="col-md-12">
                    <img src="http://placehold.it/300x300" class="img-responsive">
                </div>
            </div>
        </div>
    </div>

{% endblock %}