{% extends '::base.html.twig' %}
{% block body -%}
    {#{{ dump(entities) }}#}
    <div class="row">
        <div class="col-md-12">
    {% for entity in entities %}
            <h2>{{ entity.category.name }}</h2>
        {% endfor %}

        </div>
    </div>

    <div class="row m-b-lg">
        <div class="col-md-9">
            <div class="row">
                {% for entity in entities %}
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-5">
                                <a href="{{ path('movie_app_movie', { 'id': entity.id }) }}">
                                    <img src="{{ asset('bundles/movieapp/images/posters/aamarami.jpg') }}" class="img-thumbnail img-responsive">
                                </a>
                            </div>
                            <div class="col-md-7">
                                <h4><a href="{{ path('movie_app_movie', { 'id': entity.id }) }}">{{ entity.name }}</a> - {{ entity.fileFormat }} rip <br/>
                                    {% for genre in entity.genre %}

                                        <small>{{ genre.name }}</small>

                                    {% endfor %}
                                </h4>
                                <p>Director: {{ entity.director }}</p>
                                <p>Cast: {{ entity.cast }}</p>
                                <p>Tags:</p>


                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-3">
            <img src="http://placehold.it/300x600" class="img-responsive m-b-lg">
            <img src="http://placehold.it/300x150" class="img-responsive">
        </div>
    </div>


    <div class="row m-t-lg">
        <div class="col-md-6">
            <h2>All Categories</h2>
        </div>
        <div class="col-md-6 text-right social">
            <a href="http://www.facebook.com" class="fb" target="_blank"><i class="fa fa-facebook"></i> </a>
            <a href="http://www.facebook.com" class="twitter" target="_blank"><i class="fa fa-twitter"></i> </a>
            <a href="http://www.facebook.com" class="gplus" target="_blank"><i class="fa fa-google-plus-square"></i> </a>
            <a href="http://www.facebook.com" class="you" target="_blank"><i class="fa fa-youtube-square"></i> </a>
        </div>
    </div>
    <div class="row grid-carousel">
        {% for category in categories %}
            <div class="col-sm-3 box">
                <a href="{{ path('movie_app_category', { 'id':category.id }) }}">
                    <img src="{{ asset('bundles/movieapp/images/posters/peanuts.jpg') }}" class="img-responsive">
                    <div class="overbox">
                        <h3 class="title overtext">{{ category.name }}</h3>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>




{% endblock %}