{% extends '::adminbase.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-md-6">
            <h1>Genre list</h1>
            <a href="{{ path('genre_new') }}" class="btn btn-success m-b-lg">
                Create a new entry
            </a>
            <table class="records_list table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('genre_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.name }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('genre_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('genre_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



    {% endblock %}
